<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Super salainen sivu</title>
  </head>
  <body>
    <h1>Huippusalainen viestipalvelu</h1>
    <form action="/submit" method="POST">
      <label for="name">Kirjoita viesti:</label>
      <input type="text" id="name" name="name" required />
      <button type="submit">Lähetä</button>
      <a href="/messages">TÄSTÄ PÄÄSEE VIESTEIHIN JEE!!</a>
    </form>
    <p>Viimeisin viesti on lähetetty: {{ last_message_time }}</p>
    <img
      src="https://media.tenor.com/7Ypq9_9najcAAAAM/thumbs-up-double-thumbs-up.gif"
      alt="Tässä pitäisi olla Kili!"
    />
    <a href="/waiting-room">Pelaa Ristinollaa</a>
  </body>
</html>
