<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/waiting-room.css" />
    <title>Waiting Room</title>
  </head>
  <body>
    <h1 id="waiting-text">Welcome to the waiting room</h1>
    <h3 id="waiting-timer">
      Your game will time out in <span id="countdown">120</span> seconds.
    </h3>
    <script src="../static/js/waiting-room.js"></script>
  </body>
</html>
